body {
    background-color: #263238;
}
table {
    margin: 0 auto; /* 中央寄せ */
    width: 360px;
    height: 360px;
}
.table2{
    margin: 0 auto; /* 中央寄せ */
    width: 200px;
    height: 200px;
}
td {
    width: 10%; /* 横10マス */
    height: 10%; /* 縦20マス */
}
.td2{
    width: 20%; 
    height: 20%;
}
.default {
    background-color: #455A64;
}
.stick {
    background-color: #03A9F4;
}
.transparent{
    background-color: transparent;
}
button{
    width: 40px;
    height: 40px;
    /* background-color: #03af40; */
}

.minotable{
    text-align:center;
    line-height:0;
    background-color: transparent;
}
.drag{
    
}
.drop{

}
/* .canvas{
    
}
.canvasdiv{
    width: 360px;
    height: 360px;
    align-items: center;
    margin:0 auto;
}

.item {
    padding: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #2e6da4;
    background-color: #7da8c3;
    color: #FFFFFF;
  }
  .item:hover {
    cursor: pointer;
  }
  .item p {
    display: inline-block;
  } */