body {
    background-color: #263238;
}
table {
    margin: 0 auto; /* 中央寄せ */
    width: 360px;
    height: 360px;
}
.table2{
    margin: 0 auto; /* 中央寄せ */
    width: 200px;
    height: 200px;
}
td {
    width: 10%; /* 横10マス */
    height: 10%; /* 縦20マス */
}
.td2{
    width: 20%; 
    height: 20%;
}
.default {
    background-color: #455A64;
}
.stick {
    background-color: #03A9F4;
}
form{
    text-align: center;
}
span.colorofletter {
    color:white;
}
.colorofletter{
    color: white;
}
.canput{
    text-align: center;
}